<% provide(:title, I18n.t(:signup, scope: 'custom.noun')) %>

<h1><%= I18n.t(:validate, scope: 'custom.verb') %></h1>
<div align="center">
  <i>(<%= I18n.t(:create_pwd, scope: 'custom.view.helper') %>)</i>
</div>

<div class="row form-horizontal">
  <div class="col-sm-6 col-md-6 col-lg-offset-3">

    <%= form_for(resource, :as => resource_name, :url => confirm_path, :html => { :method => :put }) do |f| %>
    
      <!-- <%= devise_error_messages! %> -->
      <%= render "devise/shared/errors" %>

      <br />
      <%= f.label :nom, I18n.t(:nom, scope: 'custom.form') %>
      <%= f.text_field :nom, class: "form-control" %>

      <br />
      <%= f.label :prenom, I18n.t(:prenom, scope: 'custom.form') %>
      <%= f.text_field :prenom, class: "form-control" %>

      <br />
      <%= f.label :password, I18n.t(:password, scope: 'custom.form') %>
      <%= f.password_field :password, class: "form-control" %>

      <br />
      <%= f.label :password_confirmation, I18n.t(:pwd_confirm, scope: 'custom.form') %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.hidden_field :confirmation_token %>

      <br />
      <%= render partial: 'devise/shared/submit', locals: { form: f, action: I18n.t(:confirm, scope: 'custom.verb') } %>

    <% end %>

  </div>
</div>
