<p>
  <%= @contact.nom %> vous invite au Match <%= link_to @match.id, "#{root_url}#{url_for(controller: 'matches', action: 'show', id: @match.id)}", "data-no-turbolink" => true %>, voici son message:<br/>
  <%= @contact.content %><br/>
  <br/><br/>
</p>

<p class="details">
  Détails du Match :<br/>
  <strong>Jour:</strong> <%= @match.jour.strftime('%d-%m-%Y') %><br/>
  <strong>Début:</strong> <%= @match.start %><br/>
  <strong>Fin:</strong> <%= "#{match_end(@match)} (#{I18n.t(:duration, scope: 'custom.form')} #{@match.duration} minutes)" %><br/>
  <strong>Field:</strong> <%= @match.field.name %>
</p>

