<% provide(:title, I18n.t(:unlock, scope: 'custom.noun')) %>

<h1><%= I18n.t(:locked_account, scope: 'custom.view.title') %></h1>

<div class="row form-horizontal">
  <div class="col-sm-6 col-md-6 col-lg-offset-3">

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

  		<!-- <%= devise_error_messages! %> -->
  		<%= render "devise/shared/errors" %>

      <br />
      <%= f.label :email %>
      <i>(<%= I18n.t(:unlock_account, scope: 'custom.view.helper') %>)</i>
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>

    	<br />
      <%= render partial: 'devise/shared/submit', locals: { form: f, action: I18n.t(:unlock, scope: 'custom.verb') } %>

    <% end %>

  </div>
</div>
