<div class="divider15"></div>

<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/management' %>
  </div>

  <div class="col-sm-6">
    <%= form_for(@group, url: groups_find_path, :html => { :method => :get })  do |f| %>

      <%= f.label :name, I18n.t(:nom, scope: 'custom.form') %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>

      <br />
      <%= f.submit I18n.t(:find, scope: 'custom.verb'), class: "btn btn-lg btn-success" %>
      
    <% end %>
  </div>
</div>
