<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-offset-3">
    <%= form_for(@user) do |f| %>

      <!-- <%= user_error_messages! %> -->
      <%= render partial: 'layouts/errors', locals: { object: @user } %>

      <div class="field">
        <br />
        <%= f.label :nom, I18n.t(:nom, scope: 'custom.form') %>
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <br />
        <%= f.label :prenom, I18n.t(:prenom, scope: 'custom.form') %>
        <%= f.text_field :prenom %>
      </div>
      <div class="field">
        <br />
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <br />
        <%= f.label :password, I18n.t(:password, scope: 'custom.form') %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <br />
        <%= f.label :password_confirmation, I18n.t(:pwd_confirm, scope: 'custom.form') %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <br />
        <% if from == "new" %>
          <%= f.submit I18n.t(:signup, scope: 'custom.verb'), class: "btn btn-lg btn-primary" %>
        <% elsif from == "edit" %>
          <%= f.submit I18n.t(:change, scope: 'custom.verb'), class: "btn btn-lg btn-primary" %>
        <% end %>
      </div>
      
    <% end %>

    <% if from == "new" %>
      <p><%= I18n.t(:already_subs, scope: 'custom.view.helper') %> <%= link_to "#{I18n.t(:connect, scope: 'custom.view.helper')}.", signin_path %></p>
    <% end %>

  </div>
</div>
