<% provide(:title, 'Sportizers') %>

<h1><%= I18n.t(:all_sportizers, scope: 'custom.view.title') %></h1>

<%= will_paginate_fr @users %>

<ul class="users">
  <% @users.each do |user| %>
    <div class="row">
      <div class="span1">
        <%= link_to(gravatar_for(user), user_path(user)) %>
      </div>
      <div class="span3">
        <div>
          <strong><%= user.nom %></strong>
          <strong><%= user.prenom %></strong>
        </div>
        <div class="nav nav-pills">
          <!-- <%= link_to 'Contacter', "#" %> -->
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to I18n.t(:display, scope: 'custom.verb'), user %>
            <%= link_to I18n.t(:modify, scope: 'custom.verb'), edit_user_path(user) %>
            <%= link_to I18n.t(:delete, scope: 'custom.verb'), user, method: :delete, data: { confirm: I18n.t(:sure, scope: 'custom.view.helper') } %>
          <% end %>
        </div>
      </div>
    </div>
    </br>
  <% end %>
</ul>

<br />

<%= will_paginate_fr @users %>

<!-- %= link_to "Comment ajouter ma photo ?", help_path(anchor: "FAQ3") % -->
