<% provide(:title, I18n.t(:reset_pwd, scope: 'custom.view.title')) %>

<h1><%= I18n.t(:password, scope: 'custom.form') %></h1>

<div class="row form-horizontal">
  <div class="col-sm-6 col-md-6 col-lg-offset-3">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    
  		<!-- <%= devise_error_messages! %> -->
      <%= render "devise/shared/errors" %>

      <%= f.hidden_field :reset_password_token %>

    	<br />
      <%= f.label :password, I18n.t(:new_pwd, scope: 'custom.form') %>
      <%= f.password_field :password, autofocus: true, class: "form-control" %>

    	<br />
      <%= f.label :password_confirmation, I18n.t(:new_pwd_confirm, scope: 'custom.form') %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <br />
      <%= render partial: 'devise/shared/submit', locals: { form: f, action: I18n.t(:change, scope: 'custom.verb') } %>

    <% end %>

  </div>
</div>

