<% provide(:title, 'Aide') %>

<h1>Foire aux Questions</h1>

<h3>Qu'est-ce que spintcy.com ?</h3>
<p class="text-justify">
	L'objectif de ce site est de faciliter l'organisation de matchs sportifs : football, basketball, tennis, .. . Les propositions de match sont ouvertes à tous les membres, et chacun a le droit de s'y inscrire sans limite de nombre. Il reviendra aux participants d'établir les règles de participation.
</p>
<br/>

<h3>Comment devenir membre du site ?</h3>
<p class="text-justify">
	Pour devenir membre du site, il suffit de s'inscrire <%= link_to "ici", new_user_registration_path %>.
</p>
<br/>

<h3 id="FAQ3">Comment télécharger ma photo sur  le site ?</h3>
<p class="text-justify">
	Pour avoir sa photo sur le site, il faut créer un compte sur <%= link_to "Gravatar", 'http://fr.gravatar.com' %> et associer une photo à votre adresse email. Après cela, votre photo sera automatiquement disponible sur le site. Si vous avez un compte <%= link_to "WordPress", 'http://wordpress.com' %>, votre photo sera automatiquement prise en compte.
</p>
<br/>

<h3>Qu'est ce qu'un Field ?</h3>
<p class="text-justify">
	Un Field est tout terrain permettant de pratiquer du sport. Qu'il soit couvert ou découvert, tracé ou non-tracé .. l'essentiel, c'est qu'on peut y jouer.
</p>
<br/>

<h3>Qu'est ce qu'un Sportizer ?</h3>
<p class="text-justify">
	Un Sportizer est un amateur de sports de compétition et membre de ce site.
</p>
<br/>

<h3 id="FAQ6">Comment enregistrer les Fields ?</h3>
<p class="text-justify">
	En vous connectant à un site de géolocalisation (<%= link_to "google maps", "http://maps.google.com" %> par exemple) et en récupérant les coordonnées géospatiales. Dans le cas de google maps, il vous suffit de faire un clique droit et de choisir <i>"Plus d'infos sur cet endroit"</i>. <br/>
	Pour le moment, cette fonctionnalité est du seul ressort de l'administrateur du site. Vous pouvez le contacter en passant par la page de <%= link_to "contact", contact_path %>.
</p>
<br/>

<h3>Comment participer à un match ?</h3>
<p class="text-justify">
	Vous pouvez accéder à toutes les propositions de match via le menu <%= link_to "Matchs", matches_path %>. Pour vous isncrire, il suffit de cliquer sur le boutton <button class="btn btn-default">Participer</button>.
</p>
<br/>

<h3>Comment s'assurer qu'un terrain existe ?</h3>
<p class="text-justify">
	Vous pouvez vérifier en utilisant <%= link_to "google maps", "http://maps.google.com" %>. Bientôt, nous mettrons à votre disposition un système de peer checking. Ce dernier publiera un indice de confiance en fonctions du retour des sportizers.
</p>
<br/>
