<% provide(:title, I18n.t(:signin, scope: 'custom.noun')) %>

<h1><%= I18n.t(:signin, scope: 'custom.verb') %></h1>

<div class="row form-horizontal">
  <div class="col-sm-6 col-md-6 col-lg-offset-3">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  		<!-- <%= devise_error_messages! %> -->
  		<%= render "devise/shared/errors" %>

    	<br />
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>

    	<br />
      <%= f.label :password, I18n.t(:password, scope: 'custom.form') %>
      <%= f.password_field :password, class: "form-control" %>

		  <% if devise_mapping.rememberable? -%>
        <br />
        <div class="row">
          <div class="col-sm-1">
  	    	  <%= f.check_box :remember_me %>
          </div>
          <div class="col-sm-4">
  	    	  <%= f.label :remember_me, I18n.t(:remember_me, scope: 'custom.view.devise') %>
          </div>
        </div>
		  <% end %>

      <br />
      <div class="row">
      	<div class="col-sm-4 col-md-4">
      		<%= f.submit I18n.t(:signin, scope: 'custom.verb'), class: "btn btn-lg btn-primary" %>
      	</div>
      	<div class="col-sm-8 col-md-8">
      		<%= render "devise/shared/links" %>
      	</div>
      </div>

    <% end %>

  </div>
</div>
