<div class="row">
  <div class="span9 offset2">
    <%= form_for(@match) do |f| %>

      <!-- match_error_messages! -->
      <%= render partial: 'layouts/errors', locals: { object: @match } %>

      <div class="row reservations">
        <div class="span2 field">
          <%= f.label :jour %><br />
          <%= f.text_field :jour %>
        </div>
        <div class="span2 field">
          <%= f.label :start, "Heure début" %><br />
          <%= f.text_field :start %>
        </div>
        <div class="span1 field">
          <%= f.label :duration, "Durée" %><br />
          <%= f.text_field :duration %>
        </div>
        <div class="span4 field">
          <%= f.label :field_id %><br />
          <%= f.select :field_id, fields_names %>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset3 actions">
          <br />
          <%= f.submit "Organiser", class: "btn btn-large btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>