<div class="row">
  <div class="col-sm-11 col-md-11 col-lg-offset-1">

    <%= form_for(@match) do |f| %>

      <!-- match_error_messages! -->
      <%= render partial: 'layouts/errors', locals: { object: @match } %>

      <div class="row">
        <div class="col-sm-2 col-md-2">
          <%= f.label :jour, I18n.t(:jour, scope: 'custom.form') %>
        </div>
        <div class="col-sm-2 col-md-2">
          <%= f.label :start, "#{I18n.t(:start, scope: 'custom.form')} (hh:mm)" %>
        </div>
        <div class="col-sm-2 col-md-2">
          <%= f.label :duration, "#{I18n.t(:duration, scope: 'custom.form')} (min)" %>
        </div>
        <div class="col-sm-5 col-md-5">
          <%= f.label :field_id %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-md-2">
          <%= f.text_field :jour, class: "new_match input-append date datepicker form-control", value: Date.today.strftime('%d-%m-%Y') %>
        </div>
        <div class="col-sm-2 col-md-2">
          <%= f.text_field :start, class: "new_match form-control", value: Time.now.strftime('%H:%M') %>
        </div>
        <div class="col-sm-2 col-md-2">
          <%= f.text_field :duration, class: "new_match form-control", value: 1.hour/60 %>
        </div>
        <div class="col-sm-5 col-md-5">
          <%= f.select :field_id, fields_names, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-offset-4">
          <br />
          <%= f.submit I18n.t(:organize, scope: 'custom.verb'), class: "btn btn-lg btn-primary" %>
        </div>
      </div>

    <% end %>

  </div>
</div>
