<div class="row">
  <div class="span9 offset2">
    <%= form_for(@match) do |f| %>

      <!-- match_error_messages! -->
      <%= render partial: 'layouts/errors', locals: { object: @match } %>

      <div class="row match">
        <div class="span2 field">
          <%= f.label :jour, I18n.t(:jour, scope: 'custom.form') %><br /><br />
          <%= f.text_field :jour, class: "input-append date datepicker", value: Date.today.strftime('%d-%m-%Y') %>
        </div>
        <div class="span1 field">
          <%= f.label :start, "#{I18n.t(:start, scope: 'custom.form')} (hh:mm)" %><br />
          <%= f.text_field :start, class: "time", value: Time.now.strftime('%H:%M') %>
        </div>
        <div class="span1 field">
          <%= f.label :duration, "#{I18n.t(:duration, scope: 'custom.form')} (min)" %><br />
          <%= f.text_field :duration, class: "time", value: 1.hour/60 %>
        </div>
        <div class="span5 field">
          <%= f.label :field_id %><br /><br />
          <%= f.select :field_id, fields_names %>
        </div>

      </div>
      <div class="row">
        <div class="span2 offset3 actions">
          <br />
          <%= f.submit I18n.t(:organize, scope: 'custom.verb'), class: "btn btn-large btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>