<table class="table table-striped">
  <thead>
    <tr>
      <th>N°</th>
      <th></th>
      <th>Jour</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Field</th>
      <th>Sportizers</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="match"><p>
    <% @matches.each do |match| %>
        <tr>
          <td><%= match.id %></td>
          <td></td>
          <td><%= match.jour.strftime("%d/%m/%y") %></td>
          <td><%= match.start %></td>
          <td><%= match_end(match) %></td>
          <td><%= match.field.name %></td>
          <td><%= sportizers_name(match) %></td>

          <% play_match_button = play_match_button(match) %>
          <%= form_tag match_path(match), method: play_match_button[:action] do %>
            <!-- < %= hidden_field_tag :from_page, "index" % > -->
            <%= hidden_field_tag :participate, play_match_button[:participate] %>
            <td>
              <%= submit_tag play_match_button[:text], disabled: play_match_button[:disabled], class: "btn btn-small" %>
            </td>
          <% end %>
        </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to "Nouveau", new_match_path, class: "btn btn-small" %></td>
    </tr>
  </tbody>
</table>