<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">N°</th>
        <th class="text-center"><%= I18n.t(:jour, scope: 'custom.form') %></th>
        <th class="text-center"><%= I18n.t(:start, scope: 'custom.form') %></th>
        <th class="text-center"><%= I18n.t(:end, scope: 'custom.form') %></th>
        <th></th>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="match">
      <% @matches.each do |match| %>
        <tr>
          <td class="text-center"><%= match.id %></td>
          <td class="text-center"><%= match.jour.strftime("%d/%m/%y") %></td>
          <td class="text-center"><%= match.start %></td>
          <td class="text-center"><%= match_end(match) %></td>
          <td></td>
          <td><%= match.field.name %></td>
          <td>
            <a href="<%= match_path(match) %>">
              <i class="fa fa-list"></i> <%= I18n.t(:details, scope: 'custom.noun') %>
            </a>
          </td>
        </tr>
      <% end %>

      <!-- % if signed_in? % -->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <!-- %= link_to I18n.t(:new, scope: 'custom.noun'), new_match_path, class: "btn btn-sm btn-default" % -->
          </td>
        </tr>
      <!-- % end % -->
      
    </tbody>
  </table>
</div>
