<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>N°</th>
        <th></th>
        <th><%= I18n.t(:jour, scope: 'custom.form') %></th>
        <th><%= I18n.t(:start, scope: 'custom.form') %></th>
        <th><%= I18n.t(:end, scope: 'custom.form') %></th>
        <th>Field</th>
        <th>Sportizers</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="match">
      <% @matches.each do |match| %>
        <tr>
          <td><%= link_to match.id, match_path(match), "data-no-turbolink" => true %></td>
          <td></td>
          <td><%= match.jour.strftime("%d/%m/%y") %></td>
          <td><%= match.start %></td>
          <td><%= match_end(match) %></td>
          <td><%= match.field.name %></td>
          <td><%= sportizers_name(match) %></td>

          <td>
            <% if signed_in? %>
              <% play_match_button = build_play_match_button(match) %>
              <%= form_for match, url: match_path(match), method: play_match_button[:action] do |f| %>
                <%= f.hidden_field :participate, value: play_match_button[:participate] %>
                <%= f.submit play_match_button[:text], class: "btn btn-sm btn-default", disabled: play_match_button[:disabled] %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if signed_in? %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to I18n.t(:new, scope: 'custom.noun'), new_match_path, class: "btn btn-sm btn-default" %>
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>