<% provide(:title, I18n.t(:my_matches, scope: 'custom.view.group')) %>

<div class="divider15"></div>

<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/profile' %>
  </div>

  <div class="col-sm-7">
    <% @matches.each do |match| %>
      <div class="row well">
        <div class="col-sm-8">
          <%= I18n.t(:planning, scope: 'custom.view.match', jour: match.jour.strftime("%d/%m/%y"), start: match.start, field: match.field.name) %>
        </div>

        <div class="col-sm-2 nowrap">
          <%= form_for match, url: match, method: match.sportizers.size==1 ? :delete : :patch do |f| %>
            <%= f.hidden_field :participate, value: "no" %>
            <%= button_tag class: "btn btn-sm btn-default" do %>
              <i class='fa fa-times-circle'></i> <%= I18n.t(:leave, scope: 'custom.verb') %>
            <% end %>
          <% end %>
        </div>

        <div class="col-sm-2 nowrap">
          <a href="<%= match_path(match) %>" class="btn btn-sm btn-default">
            <i class="fa fa-list"></i> <%= I18n.t(:details, scope: 'custom.noun') %>
          </a>
        </div>
      </div>
    <% end %>

    <%= will_paginate_helper @matches %>
  </div>
</div>

<br />
