<% provide(:title, "Match Event") %>

<div class="row">
  <div class="span9 offset1">

    <div class="row">

      <div class="span2">
        <div class="map_container_field">
          <div id="map" class="gmaps4rails_map_field">
            <%= gmaps({
              "map_options" => { "auto_zoom" => false, "zoom" => 15 },
              "markers"     => { "data" => @match.field.to_gmaps4rails }
            }) %>
          </div>
        </div>
      </div>

      <div class="span5 offset2">
        <br/><br/>

        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:jour, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= @match.jour.strftime('%d-%m-%Y') %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:start, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= @match.start %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:end, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= "#{match_end(@match)} (#{I18n.t(:duration, scope: 'custom.form')} #{@match.duration} minutes)" %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong>Field</strong>
          </div>
          <div class="span3 offset1">
            <%= link_to @match.field.name, field_path(@match.field), "data-no-turbolink" => true %>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:participant, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= sportizers_name(@match) %>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="span5">
            <strong><%= I18n.t(:comment, scope: 'custom.form') %></strong>
          </div>
        </div>
        <div class="row">
          <div class="span5">
            <% unless @match.comments.nil? %>
              <table class="table table-striped table-condensed">
                <tbody class="comment">
                  <% @match.comments.older.each do |comment| %>
                    <tr>
                      <td class="body">
                        <%= comment.body %>
                        <div class="comment_time"><%= "#{I18n.t(:on_time, scope: 'custom.preposition')} #{comment.created_at.strftime('%d/%m/%Y')} #{I18n.t(:at, scope: 'custom.preposition')} #{comment.created_at.strftime('%H:%M')}" %></div>
                      </td>
                      <td class="commenter">
                        <%= link_to comment.user.prenom, user_path(comment.user) %>
                      <% if current_user.admin? %>
                        | <%= link_to I18n.t(:delete, scope: 'custom.verb'), match_comment_path(@match, comment), method: :delete, data: { confirm: I18n.t(:sure, scope: 'custom.view.helper') } %>
                      <% end %>
                    </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
        <% if playing_user?(@match, current_user) %>
          <div class="row">
            <div class="span5">
              <%= form_for([@match, @match.comments.build]) do |f| %>
                <div class="field">
                  <%= f.text_area :body %>
                </div>
                <div class="actions span1">
                  <%= f.submit I18n.t(:comment, scope: 'custom.verb'), class: "btn btn-small btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

    </div>
    <br />

  </div>
</div>
