<% provide(:title, "Match Event") %>

<div class="row">
  <div class="span9 offset1">

    <div class="row">

      <div class="span2">
        <div class="map_container_field">
          <div id="map" class="gmaps4rails_map_field">
            <%= gmaps({
              "map_options" => { "auto_zoom" => false, "zoom" => 15 },
              "markers"     => { "data" => @match.field.to_gmaps4rails }
            }) %>
          </div>
        </div>
      </div>

      <div class="span5 offset2">
        <br/><br/>

        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:jour, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= @match.jour.strftime('%d-%m-%Y') %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:start, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= @match.start %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:end, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= "#{match_end(@match)} (#{I18n.t(:duration, scope: 'custom.form')} #{@match.duration} minutes)" %>
          </div>
        </div>
        
        <div class="row">
          <div class="span1">
            <strong>Field</strong>
          </div>
          <div class="span3 offset1">
            <%= link_to @match.field.name, field_path(@match.field), "data-no-turbolink" => true %>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="span1">
            <strong><%= I18n.t(:participant, scope: 'custom.form') %></strong>
          </div>
          <div class="span3 offset1">
            <%= sportizers_name(@match) %>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <div class="span5">
            <strong><%= I18n.t(:comments, scope: 'custom.form') %></strong>
          </div>
        </div>
        <div class="row">
          <div class="span5">
            <% unless @match.comments.nil? %>
              <% @match.comments.each do |c| %>
                <p><%= c.body %></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="span5">
            <%= form_for([@match, @match.comments.build]) do |f| %>
              <div class="field">
                <%= f.text_area :body %>
              </div>
              <div class="actions offset1">
                <%= f.submit I18n.t(:comment, scope: 'custom.verb'), class: "btn btn-large btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>

      </div>

    </div>
    <br />

  </div>
</div>
