<% provide(:title, 'Contact') %>

<h1><%= I18n.t(:contact, scope: 'custom.verb') %></h1>

<div class="row form-horizontal">
  <div class="col-sm-6 col-md-6 col-md-offset-3">

    <%= form_for @contact, url: contact_path do |f| %>

	  	<!-- field_error_messages! -->
	    <%= render partial: 'layouts/errors', locals: { object: @contact } %>

		  <% if signed_in? %>

      	<%= f.hidden_field :nom, value: "#{current_user.nom} #{current_user.prenom}" %>
      	<%= f.hidden_field :email, value: current_user.email %>

		  <% else %>

	      <%= f.label :nom, I18n.t(:nom, scope: 'custom.form') %><br />
	      <%= f.text_field :nom, class: "form-control" %>
	    
	      <%= f.label :email %><br />
	      <%= f.email_field :email, class: "form-control" %>
			  
		  <% end %>

      <%= f.label :sujet, I18n.t(:sujet, scope: 'custom.form') %><br />
      <%= f.text_field :subject, class: "form-control" %>

      <%= f.label :message %><br />
      <%= f.text_area :content, class: "form-control" %>
  
    	<br />
      <%= f.submit I18n.t(:send, scope: 'custom.verb'), class: "btn btn-lg btn-primary" %>

		<% end %>

  </div>
</div>
