<% provide(:title, 'Fields') %>

<h1><%= I18n.t(:all_fields, scope: 'custom.view.field') %></h1>

<div class="row">
  <div class="span8 offset1">

    <% @fields.each do |field| %>
      <%= tag 'div', class: "field", data: { latitude: field.latitude, longitude: field.longitude, description: print_field(field), address: field_path(field) } %>
      <%= tag '/div' %>
    <% end %>
  	<div id="map"></div>

    <br/>

    <%= link_to I18n.t(:how_save_field, scope: 'custom.view.field'), help_path(anchor: "FAQ6") %>

		<% if current_user.admin? %>
	    <div class="actions">
	      <br />
	      <%= link_to I18n.t(:new, scope: 'custom.noun') , new_field_path, class: "btn btn-large btn-primary" %>
	    </div>
    <% end %>

  </div>
</div>
