<% provide(:title, "#{@field.gmaps4rails_address()}") %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @field.street %>
        <%= @field.city %>
        <%= @field.country %>
        <%= @field.latitude %>
        <%= @field.longitude %>
      </h1>

      <%= gmaps4rails(@json) %>

    </section>
  </aside>
</div>
