<% provide(:title, print_field(@field)) %>

<div class="row">
  <div class="span8 offset1">
    <p>
      <strong><%= print_field(@field) %></strong><br/>
      <u>Lat:</u> <%= @field.latitude %><br/>
      <u>Lon:</u> <%= @field.longitude %><br/>
    </p>

    <%= tag 'div', class: "field", data: { latitude: @field.latitude, longitude: @field.longitude, description: print_field(@field), address: field_path(@field) } %>
    <%= tag '/div' %>
    <div id="map"></div>

  </div>
</div>
