<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SportEvent", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Sportizers",  users_path %></li>
            <li><%= link_to "Fields",      fields_path, "data-no-turbolink" => true %></li>
            <li><%= link_to "Matchs",      matches_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= I18n.t(:my_account, scope: 'header') %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to I18n.t(:profile, scope: 'header'), current_user %></li>
                <li><%= link_to I18n.t(:settings, scope: 'header'),  edit_user_registration_path %></li>
                <li class="diviser"></li>
                <li><%= link_to I18n.t(:logout, scope: 'header'), destroy_user_session_path, method: "delete" %></li>
              </ul>
          <% else %>
            <li><%= link_to I18n.t(:signin, scope: 'header'), new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>