<div class="row">
	<div class="col-sm-12">
		<section>
			<%= gravatar_for current_user %>
		</section>
	</div>
</div>

<hr class="divider20">

<div class="row">
	<div class="col-sm-12">

		<ul class="nav nav-pills nav-stacked" id="profile_sidebar">
		  <li>
		  	<a href="<%= user_path(current_user) %>">
		  		<i class="fa fa-home fa-fw"></i> <%= I18n.t(:home, scope: 'custom.view.profile') %>
		  	</a>
		  </li>

		  <li>
		  	<a href="<%= user_groups_path(current_user) %>">
		  		<i class="fa fa-group fa-fw"></i> <%= I18n.t(:groups, scope: 'custom.view.profile') %>
		  	</a>
		  </li>

		  <li>
		  	<a href="<%= user_matches_path(current_user) %>">
		  		<i class="fa fa-dribbble fa-fw"></i> <%= I18n.t(:matches, scope: 'custom.view.profile') %>
		  	</a>
		  </li>

		  <li>
		  	<a href="<%= edit_user_registration_path %>">
		  		<i class="fa fa-cogs fa-fw"></i> <%= I18n.t(:settings, scope: 'custom.view.profile') %>
		  	</a>
		  </li>
		</ul>

	</div>
</div>

<hr class="divider20">
