<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">

	<%= render 'layouts/header' %>

  <div class="container">

    <% if notice %>
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <div id="notice">
            <p class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <div id="notice">
            <p class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= I18n.t(:warning, scope: 'custom.noun') %>!</strong>
              <%= alert %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
    <%= yield :scripts %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </div>

</body>
</html>
